Package: wcfg
Priority: extra
Section: net
Maintainer: Davide Lucchesi <davide@lucchesi.nl>
Architecture: all
Version: 1.1-1
Depends: mawk|gawk, perl-base, sed, nginx-light|nginx|apache2
Recommends: logrotate, mysql-client, php5-fpm|libapache2-mod-php5
Suggests: awstats, mysql-server, openssh-server, rsync, vsftpd
Provides: wcfg
Description: Lightweight solution to manage LAMP-like virtual web servers.
 wcfg is an easy and lightweight solution to manage LAMP-like virtual web
 servers on Debian, Ubuntu and derivate distributions.  It supports both nginx
 with php-fpm and apache2 with mod_php and can manage many different things
 like name based virtual servers, mysql databases and privileges, website
 backups, awstats and related static reports. logrotate will also be configured
 to take care of your virtual servers log files, but everything will be kept
 consistent with the regulations and automatisms provided by the standard
 Debian packages.
